* {
        margin: 0px;
        padding: 0px;
        box-sizing: border-box;
      }
      body {
        background-color: blue;
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
      }
      h1 {
        font-size: 40px;
        color: wheat;
      }
      #container {
        display: flex;
        flex-direction: row;
      }
      #counter {
        font-size: 30px;
        color: wheat;
        margin-top: 10px;
        font-weight: bold;
      }
      button {
        display: block;
        width: 30px;
        height: 30px;
        font-size: 20px;
        background-color: gray;
        outline: none;
        margin: 0px 40px;
        margin-top: 10px;
      }