body{
    text-align: center;
    background: darkgrey;
}

area{
    outline: none;
}
h1{
    color:white;
    text-transform: uppercase;
}

img{
    display: block;
    margin : 0 auto 0 auto;
}

#one{
    border: 2px solid white;
}

p{
    color:red;
}