body{
    text-align: center;
    background: darkgrey;
}

img{
    display: block;
            margin: 0 auto 0 auto;
            max-width: 638px;
            max-height: 444px;
}

p{
    background-color: grey;
    padding: 5px 2px;
}